body {
	font-family: "futura";
	font-size: 15pt;
	background-color: indianred;
	color: white;
	margin: 10%;
}

h1 {
	font-family: "futura";
	font-variant: small-caps;
	text-align: center;
}

h2 {
	font-family: "copperplate";
	font-size: 15pt;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}