body {
	font-family: "futura";
	font-size: 15pt;
	color: white;
	margin: 10%;

	background-image: url("myphoto.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-position: 70% 15%;
}

h1 {
	font-family: "futura";
	font-variant: small-caps;
	text-align: center;
}

h2 {
	font-family: "copperplate";
	font-size: 15pt;
	text-align: center;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	background-color: white;
	color: indianred;
}