body {
	font-family: "garamond";
	font-size: 18pt;
	color: black;

	background-image: url("myphoto.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-position: 70% 15%;

}

h1 {
	font-size: 40pt;
	text-align: center;
}

h2 {
	font-family: cursive;
	text-align: center;
	font-size: 22pt;
	border: solid;
	border-color: cornsilk;
	border-width: thin;
}

h3 {
	font-family: "copperplate";
	font-size: 15pt;
	text-align: center;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	background-color: white;
	color: darkslategrey;
}

body {
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 3%;
	margin-bottom: 8%;
}

.cursive {
	font-style: italic;
}